

.two {
  text-align: center; 
  font-family: 'Odibee Sans', cursive;
}

.three {
 text-align: center;
 text-style: none;
}

.five {
 text-align: center;
 border: 1px solid ;
 
}

.one_on_one{
 border: 1px solid ;
 background-color: #D6FF83;
 text-align: left;
 font-family: 'Montserrat', sans-serif;
}
