.one {
 text-align: center; 
}

.two {
  text-align: center; 
  font-family: 'Odibee Sans', cursive;
}

.three {
 text-align: center;
 text-style: none;
}

.four {
 text-align: center;
 border: 1px solid "black";
 
}
